<mat-toolbar color="primary">
    Login
  
  <span class="flex-spacer"></span>
  
  <!-- &times: displays a cross   -->
  <button mat-button mat-dialog-close>&times;</button>

</mat-toolbar>


<!-- 
	Displays the information that I will add, as we type into the form (live!!) 
	-- user will display its components declared inside login.component.ts:
		user = {username: '', password: '', remember: false};
-->
<p>{{ user | json }}</p>

<!-- 
	 novalidate: Angular will take care of the validation, not HTML
     (ngSubmit): Event handler, in case of submit 
-->
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Username" type="text" 
        	   [(ngModel)]="user.username" name="username"  #username="ngModel" required>
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" 
               [(ngModel)]="user.password" name="password" #password="ngModel" required>
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white" 
    	    [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
  
</form>