<!-- Usage of the flex layout -->

<!--fxLayout="column" != "row" != bootstrap: 
    flex layout will put items one below the others
    (stacked)
-->
<div class="container" fxLayout="column" fxLayoutGap="10px">
	<!-- cut off distance -->

	<!-- Title: Menu 
        First component in the column fxLayout 
        ---- this component will be on the top
    -->
	<div fxFlex>
		<div>
			<h3>Menu</h3>
			<hr>
		</div>
	</div>


	<div fxFlex *ngIf="dishes" [@expand]>
		<mat-grid-list cols="2" rowHeight="200px"> 
		<mat-grid-tile *ngFor="let dish of dishes" 
					   [routerLink]="['/dishdetail', dish.id]"
					   appHighlight>
		<img height="200px" src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
		<mat-grid-tile-footer>
		<h1 *ngIf="dish">{{dish.name | uppercase}}</h1>
		</mat-grid-tile-footer> 
		</mat-grid-tile> 
		</mat-grid-list>
	</div>
	
	<div [hidden]="dishes || errMess">
    	<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>

  	<div fxFlex *ngIf="errMess">
	    <h2>Error</h2>
	    <h4>{{errMess}}</h4>
 	</div>
    
</div>