<div class="container" fxLayout="row wrap" fxLayout.sm="column"
	fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
	fxLayoutGap="10px" fxLayoutGap.xs="0">

	<div fxFlex="100">
		<div>
			<h3 *ngIf="dish" [@expand]>{{dish.name | uppercase}}</h3>
			<hr>
		</div>
	</div>

	<div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
		<mat-card> 
			<mat-card-header>
				<mat-card-title> <!--
                           used the interpolation {{...}}
                           with uppercase pipe
                       -->
					<h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
				</mat-card-title> 
			</mat-card-header> 
			<img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}> 
			<mat-card-content>
				<p *ngIf="dish">{{dish.description}}</p>
			</mat-card-content> 
			<mat-card-actions>
				<button mat-button [routerLink]="['/dishdetail', prev]">
					<span class="fa fa-chevron-left fa-lg"></span>
				</button>
				<button mat-button (click)="goBack()">BACK</button>
				<button mat-button>LIKE</button>
				<button mat-button>SHARE</button>
				
				<span class="flex-spacer"></span>
				
       			<button mat-button [routerLink]="['/dishdetail', next]">
       				<span class="fa fa-chevron-right fa-lg"></span>
       			</button>
			</mat-card-actions> 
		</mat-card>
	</div>



	<div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>

		<div fxFlex fxLayout="column">

			<div fxFlex>
				<div>
					<h3>Comments</h3>
				</div>
			</div>

			<mat-list fFlex > <!--                
                    mat-list-item: like <li> in html
                    *ngFor: allows to iterate an array of items
                            by means of a for loop
                            --- dishes is an array
                --> 
                <mat-list-item *ngFor="let comment of dish.comments">
					<p matLine>{{comment.comment}}</p>
					<p matLine>{{comment.rating}} Stars</p>
					<p matLine>-- {{comment.author }} {{comment.date | date}}</p>
				</mat-list-item> 
				
				<mat-list-item *ngIf="commentForm.valid">
					<p matLine>{{commentForm.value.comment}}</p>
					<p matLine>{{commentForm.value.rating}} Stars</p>
					<p matLine> {{ commentForm.value.author }}</p>
				</mat-list-item>
			</mat-list>
			
			
            <!-- <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p> -->
		
		    <form novalidate [formGroup]="commentForm" #cform="ngForm" 
		    				(ngSubmit)="onSubmit()">
		      <p>
		        <mat-form-field class="full-width">
		          <input matInput formControlName="author" placeholder="Name" type="text" required>
		          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
		        </mat-form-field>		        
		      </p>
		      
		      <mat-slider formControlName="rating" min="1" max="5" step="1" value ="5"  
		      			  thumbLabel tickInterval="1">
		      </mat-slider>
		      
		      <p>
		        <mat-form-field class="full-width">
		          <textarea matInput formControlName="comment" placeholder="Your Comment" 
		          			rows=12 class="full-width" required></textarea>
		          	<mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
		        </mat-form-field>
		      </p>
		      <button type="submit" mat-button class="background-primary text-floral-white"
		      		  [disabled] = "commentForm.invalid">Submit</button>
		    </form>
			
			
			
		</div>
		
	</div>

	<div [hidden]="dish || errMess">
		<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
	</div>
	
	<div fxFlex *ngIf="errMess">
	    <h2>Error</h2>
	    <h4>{{errMess}}</h4>
  	</div>
	
</div>
