<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
  <mat-card-content>
    <p *ngIf="dish">{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="dish || dishErrMess">
   	<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="dishErrMess">
  <h2>Error</h2>
  <h4>{{dishErrMess}}</h4>
</div>

<mat-card *ngIf="promotion" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3 *ngIf="promotion">{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{promotion.image}} alt={{promotion.name}}>
  <mat-card-content>
    <p *ngIf="promotion">{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion">
   	<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>

<mat-card *ngIf="leader" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3 *ngIf="leader">{{leader.name | uppercase}} {{leader.abbr | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{leader.image}} alt={{leader.name}}>
  <mat-card-content>
  <p *ngIf="leader">{{leader.designation}} </p>
    <p *ngIf="leader">{{leader.description}} </p>
  </mat-card-content>
</mat-card>
<div [hidden]="leader">
   	<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>

</div>